[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sunilkalyan08
[access "refs/for/refs/*"]
	read = group user/sunilkalyan08
	push = group user/sunilkalyan08
	label-Code-Review = -2..+2 group user/sunilkalyan08
	label-Verified = -1..+1 group user/sunilkalyan08
	rebase = group user/sunilkalyan08
	removeReviewer = group user/sunilkalyan08
	submit = group user/sunilkalyan08
[access "refs/heads/*"]
	read = group user/sunilkalyan08
	create = group user/sunilkalyan08
	push = +force group user/sunilkalyan08
	pushMerge = group user/sunilkalyan08
[access "refs/tags/*"]
	push = +force group user/sunilkalyan08
	pushTag = group user/sunilkalyan08
	pushSignedTag = group user/sunilkalyan08
